<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
    <strong>Descrição:</strong> {{ description }}
    <br />
    <br />
    <small>
        Novas encomendas serão direcionadas para você no futuro.
    </small>
</p>
